Nepal Police Headquater-Sama Marg- 01-4411210
Metropolitan Police Commissioner's Office- Ratna Park Path- 01-4231466
Metropolitan Police Circle Janseba- Bishal Bazzar- 01-4222757
Maharajgunj Police Station- Ring Road
Koteshwor Police Station-Chautarphi Marg - 01-4600739
Kalimati Police Station- 01- 4270536
Ward Police Office-Boudha- 01-04476545
Thapathali Police Station- 44617


District Administration Office -kathmandum 44617 - 01-5555475



<link rel="stylesheet" href="<?php echo base_url(); ?>assets/lib/bootstrap/css/bootstrap.css">

<div style="width:50%;"><table class="table table-hover table-striped">

<div style="width:50%;"><table class="table table-hover table-striped">

<tr>
<td>#ID</td>
<td>Department</td>
<td>Phone</td>
td>Location</td>
</tr>

<tr>
<td>District Administration Office</td>
<td>01-5555475</td>
<td>Kathmandu</td>
</tr>

<tr>
<td>Nepal Police Headquater</td>
<td> 01-4411210</td>
<td>Sama Marg</td>
</tr>

<tr>
<td>Metropolitan Police Commissioner</td>
<td> 01-4411210</td>
<td> Ratna Park Path</td>
</tr>

<tr>
<td>Metropolitan Police Circle Jansewa</td>
<td>01-4231466</td>
<td> Bishal Bazzar</td>
</tr>

<tr>
<td>Maharajgunj Police Station</td>
<td>01-4222757</td>
<td>Chakra Paath</td>
</tr>

<tr>
<td>Koteshwor Police Statio</td>
<td> 01-4600739</td>
<td>Chautarphi Marga</td>
</tr>

<tr>
<td>Kalimati Police Station</td>
<td>01- 4270536</td>
<td>Kalimati</td>
</tr>

<tr>
<td>Ward Police Office</td>
<td>01-04476545</td>
<td>Boudha</td>
</tr>

<tr>
<td>Thapathali Police Station</td>
<td></td>
<td>Thapathali</td>
</tr>




	
</table>
</div>
	
</table>
</div>